html {
    font-size: 10px;
}

body {
	font-size: 1.8rem;
	color:#555555;
  font-family: "Lora";
	line-height: 2.4rem;
	font-weight:400;
}

/*HEADER*/

.main-menu {
	padding: 1.5rem 2rem;
	display: inline-block;
	background: #fff;
	width: 100%;
}

.main-menu ul li {
	display: inline-block;
}

.main-menu ul li a {
    font-size: 1.7rem;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0;
    padding-top: 1.5rem;
		margin:0 2rem;
    position: relative;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu ul li a:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0.2rem;
    background: #66068e;
    top: 100%;
    left: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.main-menu ul li:last-child a {
    margin-right: 0;
}

.main-menu ul li a:hover{
	background:transparent;
}
.main-menu ul li:hover a, .main-menu ul li.active a  {
    color: #66068e;
}

.main-menu ul li a:focus, .main-menu ul li:focus{
    outline:none;
    background:transparent;
}

.main-menu ul li:hover a:before {
    width: 100%;
}

.main-menu ul li.active a:before{
	width:100%;
} 

.banner {
    width: 100%;
    position: relative;
    height:70rem;
}
.banner img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay:before {
    position: absolute;
    content: '';
    width: 90%;
    height: 100%;
    left: -20rem;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
}

.banner-data {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 1;
    height: auto;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.banner-data h2 {
    float: left;
    width: 100%;
    color: #fefefe;
    font-size: 4rem;
    line-height: 5rem;
    margin: 0;
    padding-bottom: 3rem;
    font-weight: 700;
}

.banner-data p {
    float: left;
    width: 100%;	
    color: #f5f5f5;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
    font-style: italic;
}

.header-btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 2rem;
    line-height: 2.4rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    box-shadow: 0 0 0 1px #66068e;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    background: #66068e;
    border: none;
		text-decoration:none;
    transition: all 0.3s;
}

.header-btn:hover {
	background:transparent;
	color:#66068e;
	text-decoration:none;
}

.header-btn:focus{
	outline:none;
	border:none;
}

/* ABOUT-GAME*/

#about-game {
	margin-top: 5rem;
}

.about-img {
    margin-bottom: 3rem;
}

.about-data {
    width: 100%;
    margin-bottom: 3rem;
}

.about-data h2 {
    float: left;
    width: 100%;
    position: relative;
    color: #333;
    font-weight: bold;
    font-size: 3.4rem;
    margin: 0;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

.about-data h2:before {
    position: absolute;
    content: '';
    width: 22%;
    height: 0.2rem;
    background: #66068e;
    top: 100%;
    left: 0;
}

.about-data h2:after {
    position: absolute;
    content: '';
    background-image: url(../img/icons/heading_icon.png);
    width: 2.8rem;
    height: 2.5rem;
    top: 74%;
    left: 23%;
}

.about-data p {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
}

#link {
    color: #66068e;
}
#link:hover {
    text-decoration: none;
    cursor: pointer;
}

#some_text p {
	font-size: 1.9rem;
}

.cf_divider {
    float: left;
    width: 100%;
    margin: 3rem 0;
}

.cf_divider hr {
    margin: 0;
    border-color: #66068e;
}

/* FEATURES*/

#features {
	margin-top: 4rem;
	margin-bottom: 6rem;
}

.feature-number span {
	border: 2px solid #fff;
	border-radius: 0.5rem;
	padding: 1.1rem 2.5rem;
	color: #fff;
	width: 3rem;
	height: 3rem;
	-webkit-transition: all .35s;
	   -moz-transition: all .35s;
	    -ms-transition: all .35s;
	     -o-transition: all .35s;
	        transition: all .35s;
}

.feature-number span:hover {
	background: #fff;
	color: #66068e;
}

.features-block {
    width: 100%;
    text-align: center;
    padding: 5rem 2rem;
    background: #470064;
    height: 20rem;
}

.features-block p {
    width: 100%;
    color: #fff;
    margin: 0;
    font-size: 1.6rem;
    padding: 0px 1rem;
    margin-top: 2.5rem;
}

.purple1{
    background: #450069;
}

.purple2{
    background: #49016e;
}

.purple3{
    background: #4c0273;
}

.purple4{
    background: #500178;
}

.purple5{
    background: #53017d;
}

.purple6{
    background: #560282;
}

.purple7{
    background: #5a0387;
}

/* SPEAKERS */

.mainheading {
    width: 100%;
    padding-left: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
}

.mainheading_innerdiv {
    display: inline-block;
    width: auto;
    position: relative;
    margin-bottom: 3rem;
}

.mainheading h2 {
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: 3.4rem;
    color: #333333;
    font-weight: bold;
    line-height: 6rem;
    position: relative;
    padding: 3rem;
		padding-top:0;
}

.mainheading h2:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -1.3rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.ac-left-top-border:before {
    content: '';
    position: absolute;
    left: -2rem;
    top: 3rem;
    height: 0.2rem;
    width: 10%;
    background: #66068e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.ac-left-top-border:after {
    content: '';
    position: absolute;
    left: -2rem;
    top: 3rem;
    width: 0.2rem;
    height: 34%;
    background: #66068e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.ac-right-top-border:before {
    content: '';
    position: absolute;
    right: -2rem;
    top: 3rem;
    height: 0.2rem;
    width: 10%;
    background: #66068e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-right-top-border:after {
    content: '';
    position: absolute;
    right: -2rem;
    top: 3rem;
    width: 0.2rem;
    height: 33%;
    background: #66068e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.ac-right-bottom-border:before {
    content: '';
    position: absolute;
    height: 0.2rem;
		right: -2rem;
    bottom: 0;
    width: 45%;
    background: #66068e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.ac-right-bottom-border:after {
    content: '';
    position: absolute;
    right: -2rem;
    bottom: 0;
    width: 0.2rem;
    height: 34%;
    background: #66068e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.ac-left-bottom-border:before {
    content: '';
    position: absolute;
    left: -2rem;
    bottom: 0;
    width: 45%;
    height: 0.2rem;
    background: #66068e;
}
.ac-left-bottom-border:after {
    content: '';
    position: absolute;
    left: -2rem;
    bottom: 0;
    width: 0.2rem;
    height: 34%;
    background: #66068e;
}

.about-team {
    float: right;
    width: 95%;
    padding: 3rem;
    border: 1px solid #66068e;
    margin-bottom: 5rem;
    height: auto;
}

.team-img {
    float: left;
    width: 20rem;
    margin-left: -6rem;
    margin-right: 2rem;
    border: 1px solid #66068e;
}

.team-detail {
    width: 100%;
}

.about-team h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
}

.team-contact a {
    padding-right: 0.5rem;
    color: #c2c0c0;
    font-size: 2.4rem;
    font-weight: 400;
    transition: all 0.3s;
}

.team-contact a:hover {
	color: #66068e;
}

.team-contact p {
    font-size: 1.9rem;
    color: #66068e;
}

.link-bottom {
	text-align: center;
	padding-top: 1rem;
}

.team-contact {
	display: inline-block;
}

a.team-link {
    font-size: 2rem;
    color: #66068e !important;
    text-transform: capitalize;
    text-align: center;
    margin-top: 4rem;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

a.team-link:hover {
    cursor: pointer;
}

/* RULES */

#rules {
	background-image: url(../img/rules/rules.jpg);
	padding: 3rem;
}

#rules h2 {
	color: #fff;
}

#rules .mainheading {
	margin-bottom: 2rem;
	height: 11rem;
}

#rules .mainheading_innerdiv {
	margin-top: 4rem;
}

.rules-block img {
	padding-bottom: 2rem;
}

.rules-block p {
	color: #fff;
}

/* GALLERY */

#gallery {
	margin-top: 4rem;
	margin-bottom: 7rem;
}

.carousel-indicators .active {
    background-color: #66068e;
}

/* VIDEOFEEDBACK */

.video-feedback {
    margin-bottom: 4.5rem;
    margin-top: 4rem;
}

.feedback_block, .feedback_block1 {
    height: 28rem;
    margin-bottom: 2.4rem;
}

.feedback_block1 iframe {
    margin-left: 10%;
}

/* CONTACT */
.main-form {
    background: #66068e;
    padding: 7rem 6rem;
    width: 38rem;
    text-align: center;
    color: #fff;
    margin-left: 6rem;
    margin-bottom: 2rem;
}

.main-form input {
    background: #996ebd;
    color: #fff;
    display: block;
    text-align: center;
    width: 100%;
    padding: 1.4rem 1rem;
    border: 1px solid #000;
    outline: none;
    margin: 2rem 0;
    border-radius: 4px;
    font-size: 1.6rem;
}

.main-form input::-webkit-input-placeholder {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    transition: all .3s;
}

.main-form input:focus::-webkit-input-placeholder {
    color: transparent;
    border: none;
}

.main-form button.form-button {
    background: #5e4077;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.5);
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
    padding: rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
    font-family: 'Roboto';
    transition: all .6s;
}

button.form-button:hover {
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.8);
    color: #66068e;
    border: 1px solid #8f129a;
}
textarea {
    background: #996ebd;
    color: #fff;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    outline: none;
    border: 1px solid #000;
}

textarea::-webkit-input-placeholder {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    outline: none;
    transition: all .3s;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
    border: none;
    outline: none;
}

/* FOOTER */

.cf_copyright_wrapper {
    width: 100%;
    background: #0c2149;
    padding: 3rem 0;
}
.cf_copyright_wrapper p {
    color: #fff;
    margin: 0;
}


/* RESPONSIVE */

@media (max-width: 1200px) {
	
}
@media (max-width: 1199px) {

.main-menu ul.nav li a{
    margin: 0 1.5rem;
}
.banner h2{
    font-size: 3.5rem;
    line-height: 4rem;
    padding-bottom: 1rem;
}
.banner p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height: 2.2rem;
}

.cf_contactdiv .cf_icondiv{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
}
.cf_contactdiv .cf_contact_detail{
    width: 76%;
}
.cf_contactdiv .cf_contact_detail p{
    font-size: 1.5rem;
}
.cf_servicediv2{
    min-height: 23rem;
}
.cf_servicediv2 h3{
    width: 61%;
}
.cf_servicediv{
    min-height: 38rem;
}
}
@media (max-width: 991px) {
.cf_topheader_link ul li{
    font-size: 1.5rem;
}
.cf_mainheader{
    padding: 2.5rem 0;
}
.main-menu ul.nav li a{
    font-size: 1.3rem;
    margin: 0 1rem;
}
.banner h2{
    width: 80%;
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 2rem;
}
.cf_btn{
    padding: 0.7rem 1rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
}
.cf_contactdiv{
    margin-bottom: 2rem;
}
.cf_copyright_wrapper{
    text-align: center;
}
.cf_copyright_wrapper p{
    margin-bottom: 10px;
}
.cf_copyright_wrapper ul{
    display: inline-block;
    float: none;
}
.main-menu ul.nav li ul.sub-menu{
    left: auto;
    right: 0;
}
.main-form {
    margin-top: 5rem;
}
.cf_bannerdiv, .cf_banner_wrapper{
    height:45rem;
}
.feedback_block1 iframe {
    margin-left: 0;
}
}
@media (max-width: 767px) {
.cf_custom_select{
    width: 100%;
}	
.cf_topheader_link{
    text-align: left;
}
.cf_topheader_link ul {
    float: left;
    width: 100%;
}
.cf_topheader_link ul li{
    width: 100%;
    border-right: none;
}
.cf_mainheader{
    padding: 1rem 0;
}
.navbar-toggle{
    background-color: #66068e;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.main-menu {
    float: left;
    width: 100%;
}
.main-menu ul.nav{
    float: left;
    width: 100%;
    margin: 0;
}
.main-menu ul.nav li {
    width: 100%;
    float: left;
}
.main-menu ul.nav li a{
    padding: 1rem;
    width: 100%;
    margin: 0;
}
.main-menu .navbar-collapse.collapse.in {
    display: block !important;
}
.main-menu .navbar-collapse.collapse {
    display: none !important;
}
.main-menu ul.nav li ul.sub-menu li{
    width: 100%;
}
.main-menu ul.nav li ul.sub-menu{
    position: relative;
    display: none;
}
.main-menu ul.nav li:hover ul.sub-menu {
    display: block;
}
.cf_transparent_wrapper{
    padding: 5rem 0 3.5rem;
}
.banner img, .banner p, .banner a.cf_btn, .cf_about_img:before{
    text-align: center;
}
.banner a.cf_btn {
    display: none;
}
.banner h2{
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: center;
}
.cf_overlay:before{
    left: -8rem;
}
.cf_about_img{
    padding: 0;
}
.cf_teamdiv{
    width: 100%;
    padding: 0;
    margin-bottom: 2.5rem;
}
.cf_teamimg{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 2rem 0 0;
}
.cf_teamimg img {
    display: inline-block;
}
.cf_teamdetail{
    width: 100%;
    background: #eee;
    padding: 2rem;
}
.ac-left-top-border:before, .ac-left-top-border:after, .ac-left-bottom-border:before, .ac-left-bottom-border:after{
    left: 0;
}
.ac-right-top-border:before, .ac-right-top-border:after, .ac-right-bottom-border:before, .ac-right-bottom-border:after{
    right: 0;
}
.ac-left-top-border:before, .ac-right-top-border:before{
    width: 5%;
}
.cf_btn{
    padding: 5px 1rem;
    font-size: 1.5rem;
}
.cf_copyright_wrapper ul {
    float: none;
    display: inline-block;
}
.cf_copyright_wrapper p{
    margin-bottom: 1rem;
}
.cf_copyright_wrapper{
    text-align: center;
}
.ac-left-top-border:after, .ac-right-top-border:after, .ac-right-bottom-border:after, .ac-left-bottom-border:after{
    height: 50%;
}
.cf_overlay:before{
    transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    width:100%;
    left:0;
}
.cf_banner_wrapper, .cf_bannerdiv{
    height:50rem;
}
.main-form {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 30rem;
}
.main-form button.form-button {
    font-size: 1.3rem;
}
.feedback_block iframe {
    width: 100% !important;
    height: 25rem;
}
.feedback_block1 iframe {
    margin: 0 auto;
}
.main-form {
    margin-top: 5rem;
}
}
@media (max-width: 479px) {
#cf_preloader_box {
    display: none;
}
#cf_preloader_wrapper {
    display: none;
}
.cf_about_img img {
    height: 99%;
    width: 99%;
}
.cf_mainheading {
    padding-left: 0;
}
.cf_aboutdata h2{
    font-size: 2.8rem;
}
.cf_mainheading h2{
    font-size: 3rem;
    line-height: 4.5rem;
}
.feedback_block iframe {
    width: 100% !important;
    height: 22rem;
}
.feedback_block1 iframe {
    margin: 0 auto;
}
.main-form {
    margin-top: 5rem;
}
}
@media (max-width: 320px){
.cf_mainheading h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}
.ac-left-top-border:after, .ac-right-top-border:after, .ac-right-bottom-border:after, .ac-left-bottom-border:after{
    height: 50%;
}
.feedback_block iframe {
    width: 100% !important;
    height: 20rem;
}
.feedback_block1 iframe {
    margin: 0 auto;
}
.main-form {
    margin-top: 5rem;
}
}
@media (max-width: 767px) and (orientation: landscape) {
.main-menu .navbar-collapse.collapse.in {
    height: 20rem;
    overflow-y: scroll;
}
}